@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;900&display=swap');

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.bg-dark {
    background-color: #000000 !important;
}

.font {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    width: 90%;
}

.font2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #de1768 !important;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    width: 90%;
}

.font3 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff !important;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    width: 90%;
}



h1 {
    color: #de1768;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    width: 90%;
}

.pt2 {
    color: #ffffff !important;
}


.div1 {
    min-height: 800px;
}

.div2 {
    background: #de1768;
    min-height: 900px;
}

.alinhamento {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.container-fluid{
    padding: 0;
}


